body {
    color: #DAD6D6;
    }
body, html {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#heading{
    font-size: 40px;
    background-color: #3D4959;
    width: 500px;
    border-radius: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid 4px #262E3B;
}

#timer{
    font-size: 2.5em;
    background-color: #4C596A;
    color: white;
    width: 300px;
    border-radius: 12px;
    font-family: 'Times New Roman', Times, serif;
}

#begin {
  margin: 20px auto;
  text-align: center;
 background: #44A08D;  /* fallback for old browsers */
background:linear-gradient(to right,#14A292,#0D756A);
  border:solid 2px #ED8457;
  border-radius:5px;
  padding:16px 40px 16px;
  letter-spacing: 2px;
  cursor:pointer;
  font-size: 20px;color: white;
}

#stop {
  margin: 20px 5px auto;
  text-align: center;
  background: #44A08D;  /* fallback for old browsers */
  background:linear-gradient(to right,#14A292,#0D756A);
  border:solid 2px #ED8457;
  border-radius:5px;
  padding:16px 40px 16px;
  letter-spacing: 2px;
  cursor:pointer;
  font-size: 20px;color: white;
}

#reset {
  margin: 20px auto;
  text-align: center;
  background: #44A08D;  /* fallback for old browsers */
  background:linear-gradient(to right,#14A292,#0D756A);
  border:solid 2px #ED8457;
  border-radius:5px;
  padding:16px 40px 16px;
  letter-spacing: 2px;
  cursor:pointer;
  font-size: 20px;
  color: white;
}
